/* Basic Style */
body {
    background-color: rgb(253, 255, 168, 0.5 ) !important;
    color: #333;
    font-family: Lato, sans-serif;
  }
  .container {
    display: block;
    width: 100% !important;
    margin: 0 0 0 0 !important;

  }
  #imagini-sortable li{
    margin-bottom: 10 px;
    margin-top: 10px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li * {
    float: left;
  }
  li, h3 {
    clear:both;
    list-style:none;
  }
  input, button {
    outline: none;
  }
  button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  button:hover {
    color: #333;
  }
  /* Heading */
  h3,
  label[for='new-task'] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
  }
  input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  input[type="text"]:focus {
    color: #333;
  }
  
  /* New Task */
  label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
  }
  input#new-task {
    float: left;
    width: 318px;
  }
  p > button:hover {
    color: #0FC57C;
  }
  
  /* Task list */
  li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }
  li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
  }
  li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }
  li >  input[type="text"] {
    width: 226px;
  }
  li > .delete:hover {
    color: #CF2323;
  }
  
  /* Completed */
  #completed-tasks label {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Edit Task */
  ul li input[type=text] {
    display:none;
  }
  
  ul li.editMode input[type=text] {
    display:block;
  }
  
  ul li.editMode label {
    display:none;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80% !important;
    height: 70% !important;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#map {
  height: 100%;
  z-index: 1000;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

.pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
  z-index: 1100 !important;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  
  text-overflow: ellipsis;
  width: 40%;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
.modal-dialog{
  width: 450px;
  height: 700px;
}

#addOfertaModal .modal-content{
  height:90% !important;
  position:absolute;
  top: 40px;
  left: 40px;
  right: 40px;
}

#imagini-sortable { list-style-type: none; }

/* #container-imagini{
  
} */

